<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>注册界面</title>
<style type="text/css">
body {
	background-color: #0FF;
}
</style>
</head>

<body>
<form action="./regSure.php" enctype="multipart/form-data" method="post">
	<table width="800" border="1" align="center">
  	<tbody>
	<th colspan="2">
	  用户注册
	  </th>
    <tr>
      <td>用户名</td>
      <td align="center"><input type="text" name="username" id="username"></td>
    </tr>
    <tr>
      <td>用户密码</td>
      <td align="center"><input type="password" name="password" id="password"></td>
    </tr>
    <tr>
      <td>重复密码</td>
      <td align="center"><input type="password" name="repassword" id="repassword"></td>
    </tr>
    <tr>
        <input type="button" value="确定" id="sub">
    </tr>
  </tbody>
</table>
</form>
<script>
    $(document).ready(function(){

    })
    function onclickRegister(){
        (`#sub`).on('click',()=>{
            const username = $('#inputuser').val();
            const password = $('#inputpsd').val();
            const repassword = $('#inputrepsd');
    
        if(username.length === 0 || password.length===0|| repassword ===0)
            alert("注册信息不完整");
            return 
        })

        if(password!== repassword){
            alert("两次输入密码不一样");
            return 
        }

        const regName = /^[a-zA-Z]\w{3,}/
        if(!regName.test(username)){
            alert("用户名不合法");
            return 
        }

        $.post('/signup',{
            username:username,
            password:password
        },res=>{
            console.log()
        }
        )


    }

    </script>
</body>
</html>